<h1>
    <a [routerLink]="['/movies']" fragment="23">bad-boys</a>
</h1>

<mat-card class="list" *ngFor="let movie of movieList | async" [id]="movie.id">
    <mat-card-header>
        <mat-card-title><a [routerLink]="['/movie/id/', movie.id]">{{movie.name}}</a></mat-card-title>
    </mat-card-header>
    <p>Rate: {{movie.rate}}</p>
    <p>Id: {{movie.id}}</p>
    <p>Time: {{movie.length}}</p>
    <p>{{movie.key}}</p>

    <img class="list__image" mat-card-image [src]="movie.url" alt="Photo of a Shiba Inu">
    <span *ngFor="let genre of movie.genres">{{genre}} / </span>
</mat-card>

<h3 (click)="scrollToTop()">scroll to top</h3>
